@page "/"
@layout MainLayoutNav

@using ParkIstra.Models.Main;
@using System.Diagnostics.CodeAnalysis;
@using Microsoft.AspNetCore.Components;
@using ParkIstra.AppInterfaces;
@using ParkIstra.Libraries.Blazor;
@inject NavigationManager NavigationManager
@inject TranslateEngine GlobalDictionary

<h1>@TranslateEngine.GlobalDictionary["helloWorld"]</h1>
<section class="home-top">
    <a href="/" title="logo" class="home-top-logo"><img src="/img/logo4.png" alt="logo" /></a>
    <span class="home-top-line"></span>
    <button type="button" @onclick='() => NavigationManager.NavigateTo("/about/wantToHelp")'>Become a volunteer</button>
    <button type="button" @onclick='() => NavigationManager.NavigateTo("/about/needHelp")'>I need help</button>
</section>
<section>
    <ProjectsSlider />
    <div class="feed-facebook">
        <iframe name="f12e1abcc11f268" width="350px" height="800px" data-testid="fb:page Facebook Social Plugin"
            title="fb:page Facebook Social Plugin" allowfullscreen="true" allow="encrypted-media"
            src="https://www.facebook.com/v2.3/plugins/page.php?app_id=249643311490&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df362c8d17959fcc%26domain%3Dparkistra.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fparkistra.com%252Ff2c5c59769f20c%26relation%3Dparent.parent&amp;container_width=368&amp;height=800&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2Fparkistra&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=false&amp;show_posts=true&amp;width=350"></iframe>
    </div>
    <div class="feed-testimonial">
        <h3>Testimonials</h3>
        @if (Testimonials is not null)
        {
            @foreach (var item in Testimonials)
            {
                <div class="testimonial">
                    <p>
                        @item.Content
                    </p>
                    <span>@item.Author, @item.Country</span>
                </div>
            }
        }
    </div>
</section>
