@page "/member/login/"
@layout MainLayoutNav

<form class="login-form" method="post">
    <label for="username">Username</label>
    <input type="email" name="email" id="" />
    <label for="password">Password</label>
    <input type="password" name="password" id="" />
    <button type="submit">Login</button>
</form>