/* _content/ParkIstra.Libraries.Blazor.Components/Stars.razor.rz.scp.css */
.crop[b-pkgwcrqpdc] {
    width: 225px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    color: darkslategray;
    font-weight: normal;
    font-size: 16px;
}
