<div class="project-slider">
    @if (Projects != null)
    {
        @foreach (var project in Projects.Take(Limit))
        {
            <div class="project-slide-container @(activeSlideIndex == project.Id ? "project-slide-active" : "")" style="background-image: url('@(project.Images.FirstOrDefault()?.Url)');" @onclick="() => ToggleActiveSlide(project.Id)">
                <h3>@project.Name</h3>
                <div class="project-details">
                    <p>@(project.Description?.Length > 130 ? project.Description?.Substring(0, 127) + "..." : project.Description)</p>
                    <a title="Read More" class="project-link" href="/projects/project/@project.Id">Read More ></a>
                </div>
            </div>
        }
    }
</div>

@code {
    [Parameter] public int Limit { get; set; } = int.MaxValue;
    private int activeSlideIndex = 1;
    

    private EventCallback ToggleActiveSlide(int clicked)
    {
        if (clicked == activeSlideIndex)
        {
            activeSlideIndex = 0;
        }
        else
        {
            activeSlideIndex = clicked;
        }
        return EventCallback.Factory.Create(this, StateHasChanged);
    }
}
