@import '_content/ParkIstra.Libraries.Blazor.Components/ParkIstra.Libraries.Blazor.Components.bundle.scp.css';

/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-hcob2h6pe1] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-hcob2h6pe1] {
    flex: 1;
}

.sidebar[b-hcob2h6pe1] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-hcob2h6pe1] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-hcob2h6pe1]  a, .top-row[b-hcob2h6pe1]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-hcob2h6pe1]  a:hover, .top-row[b-hcob2h6pe1]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-hcob2h6pe1]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-hcob2h6pe1] {
        display: none;
    }

    .top-row.auth[b-hcob2h6pe1] {
        justify-content: space-between;
    }

    .top-row[b-hcob2h6pe1]  a, .top-row[b-hcob2h6pe1]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-hcob2h6pe1] {
        flex-direction: row;
    }

    .sidebar[b-hcob2h6pe1] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-hcob2h6pe1] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-hcob2h6pe1]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-hcob2h6pe1], article[b-hcob2h6pe1] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/MainLayoutNav.razor.rz.scp.css */
/* sb-icons declaration */
@font-face {
    font-family: "sbicons";
    src: url("styles/common/fonts/sbicons.ttf?gcjn6a") format("truetype"), url("styles/common/fonts/sbicons.woff?gcjn6a") format("woff"), url("styles/common/fonts/sbicons.svg?gcjn6a#sbicons") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

[b-1tpy1hmbtb] .sb-icons {
    font-family: "Roboto", "Segoe UI", "GeezaPro", "DejaVu Serif", "sans-serif", "sbicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* sb-hide */
[b-1tpy1hmbtb] .sb-hide {
    display: none;
}
/* Search and List component styles */
[b-1tpy1hmbtb] .sf-list-ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

[b-1tpy1hmbtb] .sf-list-li {
    background: transparent;
    border: none;
    height: 40px;
    line-height: 1.5;
    padding: 8px 16px 8px 16px;
    position: relative;
    cursor: pointer;
}

[b-1tpy1hmbtb] .sf-list-group-li {
    border: none;
    color: #000000;
    opacity: 87;
    font-weight: 700;
    background: transparent;
    height: 40px;
    line-height: 1.5;
    padding: 8px 16px 8px 16px;
    list-style-type: none;
}

[b-1tpy1hmbtb] .sf-list-li:hover:not(.sf-list-li-active),
[b-1tpy1hmbtb] .sf-search-hover {
    background: #d7d7d7;
}

[b-1tpy1hmbtb] .sf-list-li.sf-list-li-active,
[b-1tpy1hmbtb] .sf-tree-full-row.sf-tree-active {
    background: #007bff;
}

    [b-1tpy1hmbtb] .sf-list-li.sf-list-li-active *,
    [b-1tpy1hmbtb] .sf-tree-active + .sf-tree-text-content * {
        color: #ffffff;
    }

[b-1tpy1hmbtb] .sf-blazor-home .sf-search-icon,
[b-1tpy1hmbtb] .sf-search-container .sf-search-icon,
[b-1tpy1hmbtb] .sf-search-container .sf-clear-icon {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #333;
    letter-spacing: 0;
    line-height: 23px;
    float: right;
    padding: 28px 15px;
}

    [b-1tpy1hmbtb] .sf-blazor-home .sf-search-icon::before,
    [b-1tpy1hmbtb] .sf-blazor-home .sf-search-input::placeholder {
        color: #c3cade !important;
    }

[b-1tpy1hmbtb] .sf-blazor-home .sf-search-input:focus {
    border: 2px solid #d9deec !important;
    box-shadow: none !important;
}

[b-1tpy1hmbtb] .sf-search-icon::before {
    content: "\e925";
    color: #B3B3CB;
}

[b-1tpy1hmbtb] .property-section,
[b-1tpy1hmbtb] .property-section .e-property-label,
[b-1tpy1hmbtb] .control-section .e-property-label {
    font-size: 14px;
}

.e-error-ui[b-1tpy1hmbtb] {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.e-error-ui-text[b-1tpy1hmbtb] {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.e-error-text-ui[b-1tpy1hmbtb] {
    font-size: 15px;
    padding: 10px;
}

.e-page-refresh[b-1tpy1hmbtb] {
    text-align: center;
}

/*iznad dodato*/

.page[b-1tpy1hmbtb] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-1tpy1hmbtb] {
    flex: 1;
}

.sidebar[b-1tpy1hmbtb] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}


#errorDiv[b-1tpy1hmbtb] {
    float: right;
    z-index: 99 !important;
}

.top-row[b-1tpy1hmbtb] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-1tpy1hmbtb]  a, .top-row[b-1tpy1hmbtb]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-1tpy1hmbtb]  a:hover, .top-row[b-1tpy1hmbtb]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-1tpy1hmbtb]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-1tpy1hmbtb] {
        display: none;
    }

    .top-row.auth[b-1tpy1hmbtb] {
        justify-content: space-between;
    }

    .top-row[b-1tpy1hmbtb]  a, .top-row[b-1tpy1hmbtb]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-1tpy1hmbtb] {
        flex-direction: row;
    }

    .sidebar[b-1tpy1hmbtb] {
        width: 350px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-1tpy1hmbtb] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-1tpy1hmbtb]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-1tpy1hmbtb], article[b-1tpy1hmbtb] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-8lvkl0h8nk] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-8lvkl0h8nk] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-8lvkl0h8nk] {
    font-size: 1.1rem;
}

.oi[b-8lvkl0h8nk] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-8lvkl0h8nk] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-8lvkl0h8nk] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-8lvkl0h8nk] {
        padding-bottom: 1rem;
    }

    .nav-item[b-8lvkl0h8nk]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-8lvkl0h8nk]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-8lvkl0h8nk]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-8lvkl0h8nk] {
        display: none;
    }

    .collapse[b-8lvkl0h8nk] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
