<footer>

    <div class="back-to-top">
        <a href="#">⮝</a>
    </div>

    <div class="footer-logo">
        <a href="..">
            <img src="/img/logotp.png" alt="bottom-logo">
        </a>
    </div> 

    <div class="footer-left">
        <span>&copy; 2014 Trajnostni Park Istra </span>
    </div>
</footer>
