@inherits LayoutComponentBase
@inject NavigationManager Navigation

<NavMenu/>
<div class="page">
    <main>
        @Body
        <div id="errorDiv">
            <Dialog @ref="ErrorHandler.ErrorDialog" />
        </div>
        <div id="SucessDiv">
            <SuccessDialog @ref="ErrorHandler.successDialog" />
        </div>
    </main>
</div>
