#main-nav {
    background-color: rgba(167, 174, 156, 0.5);
    height: 100%;
    z-index: 500;
    position: fixed;
    display: flex;
    transition: all 0.8s;
    font-family: 'Lucida Sans';
}

.nav-container {
    background-color: rgba(167, 174, 156, 0.8);
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.main-nav-open {
    width: 100%;
}

.main-nav-open .nav-container {
    max-width: 600px;
}

.main-nav-open #nav-burger-open {
    display: none;
}
.main-nav-collapsed #nav-burger-close {
    display: none;
}

.main-nav-open .nav-container > nav > a {
    display: block;
    color: white;
    font-size: 2rem;
    padding: 10px;
    border-bottom: solid 1px rgb(83, 83, 83);
    transition: all 0.3s;
}

.main-nav-open #nav-close {
    color: white;
    cursor: pointer;
    font-size: 2rem;
    margin: 14px;
}
.main-nav-open #nav-close:hover {
    color: rgb(231, 231, 231);
}

#nav-close-zone {
    flex-grow: 10;
}


/** Nav collapsed */
.main-nav-collapsed {
    width: 60px;
}
.main-nav-collapsed #nav-burger-open, .main-nav-open #nav-burger-close {
    color: grey;
    font-size: 300%;
    margin: 4px;
    transition: all 0.1s;
    cursor: pointer;
    text-align: right;
}

.main-nav-collapsed .nav-container > nav > a:hover {
    background-color: rgb(83, 83, 83);
    text-decoration: none;
}

.main-nav-collapsed .nav-container {
    width: 100%;
}

.main-nav-collapsed .nav-container .nav-logo {
    width: 58px;
    filter: invert(0.8);
    transition: all 0.3s;
}

.main-nav-collapsed .nav-container > nav > a {
    display: none;
}

.main-nav-collapsed #nav-close-zone {
    display: none;
}
.main-nav-collapsed #nav-close {
    display: none;
}

#nav-burger-open:hover, #nav-burger-close:hover {
    color: white;
}
.main-nav-collapsed:hover .nav-logo {
    filter: invert(1);
}
.nav-user {
    color: grey;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 300%;
    margin: 4px;
    cursor: pointer;
}
.nav-user:hover {
    color: white;
}

/* DONE:
    1. Some recolor, not much changed
*/