@inject NavigationManager NavigationManager

<div id='main-nav' class="@NavMenuCssClass">
    <div class='nav-container'>
        <span id='nav-burger-open' class="material-symbols-outlined" @onclick="ToggleNavMenu">menu</span>
        <span id='nav-burger-close' class="material-symbols-outlined" @onclick="ToggleNavMenu">close</span>
        <nav id="parkistraNavbar">
            <a href="/">Home</a>
            <a href="/projects/">Projects</a>
            <a href="/contact/">Contact</a>
            <a href="/gallery/">Gallery</a>
            <a href="/about/">About us</a>
            <a href="/support/">Support us</a>
            <a href="/contact/">Contact</a>
        </nav>
        <span class="material-symbols-outlined nav-user" @onclick='() => NavigationManager.NavigateTo("/member/")'>account_circle</span>
    </div>
    <div id='nav-close-zone'>
    </div>
</div> 

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "main-nav-collapsed" : "main-nav-open";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
