@page "/projects/project"
@layout MainLayoutNav

<div class="container">
    <h1>@ProjectEntity.Name</h1>
    <p>@ProjectEntity.Description</p>

    <div class="row">
        @foreach (var image in ProjectEntity.Images)
        {
            <div class="col-md-4">
                <img src="@image.Url" class="img-fluid" alt="Project Image">
            </div>
        }
    </div>
</div>
