@page "/change-password"
@using ParkIstra.AppBlazor.Client
@using ParkIstra.Models.Main
@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavigationManager

<div class="card text-black" style="border-radius: 25px;">
    <div class="card-body p-md-5">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" value="@Password" />
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" value="@ConfirmPassword" />
                </div>

                <div class="d-flex flex-row justify-content-start mt-4">
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" class="btn btn-primary btn-md" @onclick="ChangePassword">Promijeni password</button>
                    </div>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="button" class="btn btn-secondary btn-md" @onclick="GoBack">Idi na login</button>
                    </div>
                </div>

                @if (isSuccess)
                {
                    <div class="d-flex justify-content-start mx-4 mb-3 mb-lg-4">
                        <button type="button" class="btn btn-success btn-md" @onclick="GoBack">Idi na login</button>
                    </div>
                }

            </div>
            <div class="col-md-10 col-lg-6 col-xl-7 d-flex justify-content-center align-items-center order-1 order-lg-2">

                <img src="./images/logoEInspektor2.png" class="img-fluid" alt="Sample image">

            </div>
        </div>
    </div>
</div>